@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600&display=swap');

:root {
    --basic-transition: .3s ease;
    --plain-text: #909090;
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    background-color: #222;
    color: var(--white);
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: var(--plain-text);
}

section {
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 30% 70%;
    align-self: center;
    padding: 4rem;
}

header {
    display: flex;
    flex-direction: column;
}

header>h1 {
    font-size: 48px;
    font-weight: 600;
}

header>p {
    font-size: 20px;
    font-weight: 500;
}

nav {
    margin: 60px 0px;
}

nav>ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

header>ul {
    display: flex;
    gap: 12px;
}

header>ul>li {
    width: 32px;
    transition: var(--basic-transition);
    opacity: .5;
}

header>ul>li:hover {
    opacity: 1;
}

.content {
    height: 85vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#aboutTitle,
#experienceTitle,
#projectsTitle {
    display: none;
}

.content__about {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 0px;
}

.content__about>p {
    margin: 0px 8px;
}

.content__experience__card {
    display: flex;
    gap: 12px;
    margin: 0px 8px;
}

.content__experience__card__left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content__experience__card__left>img {
    width: 100%;
    border-radius: 24px;
}

.content__experience__card__left>p {
    color: var(--plain-text);
}

.content__experience__card__rigth {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 0px;
}

.content__experience__card__rigth>h3,
.content__experience__card__rigth>h4 {
    width: fit-content;
}

.content__experience__card__rigth>h4>span {
    display: inline-flex;
    gap: 8px;
}

.content__experience__card__rigth>h4>span>svg {
    width: 24px;
    opacity: .5;
    transition: var(--basic-transition);
}

.content__experience__card:hover .content__experience__card__rigth>h4>span>svg {
    opacity: 1;
    transform: translateX(6px);
}

.content__resume {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__resume>a {
    display: flex;
    padding: 12px 8px;
    border: 1px solid var(--white);
    border-radius: 8px;
    transition: var(--basic-transition);
}

.content__resume>a:hover {
    background-color: var(--white);
    color: var(--black);
}

.content__projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 0px 8px;
}

.content__projects__card {
    position: relative;
    transition: var(--basic-transition);
}

.content__projects__card>img {
    width: 100%;
    border-radius: 16px;
}

.content__projects__card>h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    background-color: transparent;
    display: none;
}

.content__projects__card>h6>span {
    background-color: transparent;
}

.content__projects__card:hover>img {
    opacity: .4;
}

.content__projects__card:hover>h6 {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 12px;
    left: 4rem;
}

/* Tablets */
@media screen and (max-width: 865px) {
    .content {
        flex-direction: column;
    }

    .content__experience__card {
        flex-direction: column;
    }

    .content__experience__card__left {
        width: 100%;
    }
}

/* Cellphones */
@media screen and (max-width: 465px) {
    section {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0px 24px;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    header>ul>li {
        opacity: 1;
    }

    nav {
        display: none;
    }

    .content {
        flex-direction: column;
    }

    #aboutTitle,
    #experienceTitle,
    #projectsTitle {
        display: block;
        margin-bottom: 12px;
        font-size: 24px;
        font-weight: 400;
    }

    .content__experience__card {
        flex-direction: column;
    }

    .content__experience__card>h4>a>svg {
        opacity: 1;
    }

    .content__experience__card__left {
        width: 100%;
    }

    .content__experience__card__rigth {
        padding: 12px 0px;
    }

    .content__projects {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .content__projects__card {
        position: unset;
    }

    .content__projects__card>img {
        opacity: .4;
    }

    .content__projects__card>h6 {
        position: unset;
        display: inline;
        font-size: 16px;
    }

    .content__projects__card>h6>span {
        display: none;
    }

    footer {
        left: 24px;
    }
}